---
import { HelpComponent } from "../HelpComponent";
import { help } from '../../config/data.json';
---

<section class="relative max-w-xs md:max-w-6xl mx-auto -mb-40 md:-mb-32  ">
    <HelpComponent { ...help }/>
</section>