---
import { productive } from "../../config/data.json";
import  { ProductComponent } from "../ProductComponent";
---

<div class=" max-w-xs md:max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-16 items-center">

    <ProductComponent { ...productive} />

</div> 