---
import { quotes, testimonials } from '../../config/data.json';
import { TestComponent } from '../TestComponent';
---

<section class="max-w-[19rem] md:max-w-6xl mx-auto mt-36 mb-36 ">
    <img class="w-6 md:w-14  bg-left-top pt-6 relative -z-10" src={quotes} alt="quotes">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8  items-center   md:-mt-2 ">
          {
            testimonials.map((testimonials) => <TestComponent {...testimonials} />)
          }
    </div>
</section>